<div class="wrapper"> <!-- Wrapper pour centrer le contenu qui a une longueur de 1240px avec un fond bleu foncé -->
        		<!-- Animation globale à toutes les pages, une série de petites étoiles grossissants et rétrécissants en arrière plan, pour représenter un ciel étoilé, sans que ce soit non plus trop choquant pour l'oeil  -->

        <div class='star d1'></div>
        <div class='star d2'></div>
        <div class='star d4'></div>
        <div class='star d5'></div>
        <div class='star d6'></div>
        <div class='star d8'></div>
        <div class='star d9'></div>
        <div class='star d10'></div>
        <div class='star d11'></div>
        <div class='star d12'></div>
        <div class='star d13'></div>
        <div class='star d14'></div>
        <div class='star d15'></div>
        <div class='star d16'></div>
        <div class='star d17'></div>
        <div class='star d18'></div>
        <div class='star d19'></div>
        <div class='star d20'></div>

    <header>  		<!--  Header de la page, il est constitué d'abord d'une image, originellement appelée h4 sur ma maquette, mais que j'ai finalement transformée en une image fixe afin de créer moi même une police un peu plus personnalisée à ce que j'avais en tête, surmontant le logo, avec à droite une navigation qui mène vers les cinq pages du site, les liens devinnent jaune et le fond bleu lorsque l'on passe sa souris dessus.  -->

        <div class='typo'></div>
            <a href="index.html" class='img-logo presentation col'></a>

        <nav class='nav-header col'>
          <ul>
            <li class='first-li'><a routerLink="/home" routerLinkActive="active">Accueil</a></li>
            <li><a class='current' routerLink="/presentation" routerLinkActive="active">Présentation</a></li>
            <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
            <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
            <li class='last-li'><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
          </ul>
        </nav>

    </header>

    <div class='opening'> <!-- En dessous se trouve le titre de la page, écrit en grand en jaune dans un cadre partant d'une transparence vers un blanc/gris -->
    <h1> Présentation </h1>
    </div>


<section class='col'> <!-- Float à gauche pour les éléments de la section -->

    <div class='img-pre-1 pre'></div> <!-- Image numéro 1, fond étoilé placé à gauche du texte et à l'arrière des autres images -->
    <div class='img-pre-2 pre'></div> <!-- Image numéro 2 -->
    <div class='img-pre-3 pre'></div> <!-- Image numéro 3, au dessus à droite de la deuxième et avec un z-index plus élevé-->
    <div class='img-pre-4 pre'></div> <!-- Image numéro 4, située en bas à droite des autres images et avec un z-index plus bas que les deux  autres -->

        <h2 class='pre-title'>Profil</h2> <!-- Titre : Profil situé au dessus du contenu de texte -->
    <div class ='frame-pre col'> <!-- Cadre légèrement transparent se transformant en un blanc-gris vers la droite -->

<h4 class='to-the-right'>  Thomas Trifiletti </h4> <!-- Sous titre qui démarre le contenu de texte -->

<p class='to-the-right'>  <!-- Texte décalé vers la droite pour ne pas être caché par les images -->
    Après mes études secondaires générales et l'acquisition de mon diplôme,<br/>
    j'ai étudié et acquis des capacités dans le domaine de la Communication <br/>
    et des Sciences-sociales avant de bifurquer et de me rediriger <br/>
    vers le domaine du développement Web. <br/>
    <br/>
    Je suis actuellement en train de compléter ma formation, affinant <br/>
    mon travail autant sur le front-end que sur le back-end.

</p>



<h4 class='to-the-less-right'> Compétences : <span class='right left'>Langues :</span></h4> <!-- Deuxième sous titre décalé un peu moins vers la droite -->

<div class='right flag italian'></div> <!-- Image de drapeau numéro 1 -->
<div class='right flag english'></div> <!-- Image de drapeau numéro 2 -->
<div class='right flag french'></div>  <!-- Image de drapeau numéro 3 -->

<div class='gauge gauge-1'></div> <!-- Image de jauge de compétence numéro 1-->
<div class='gauge gauge-2'></div> <!-- Image de jauge de compétence numéro 2-->
<div class='gauge gauge-3'></div> <!-- Image de jauge de compétence numéro 3-->
<div class='gauge gauge-4'></div> <!-- Image de jauge de compétence numéro 4-->
<div class='gauge gauge-5'></div> <!-- Image de jauge de compétence numéro 5-->
<div class='gauge gauge-6'></div> <!-- Image de jauge de compétence numéro 5-->
<div class='gauge gauge-7'></div> <!-- Image de jauge de compétence numéro 6-->

<p class=' to-the-less-right inline '>  <!-- Texte décalé un peu moins vers la droite, -->

Html  <br/>

Css  <br/>

Javascript  <br/>

PHP  <br/>

Angular  <br/>

Symphony <br/>

MySQL
</p>

<h4 class=''> Qualités : </h4>  <!-- Troisième sous-titres -->

<p>
- Autonome <br/>
- Inventif <br/>
- A l'écoute
</p>

<h4> Centres d'intérêts : </h4>  <!-- Quatrième sous-titres -->

<p>
- Musique <br/>
- Théâtre <br/>
- Escalade <br/>
- Jeux de Rôles
</p>
    </div>

</section>
<div class='clear'> </div>

  <app-footer></app-footer>
</div>


