<div class="wrapper"> <!-- Wrapper pour centrer le contenu qui a une longueur de 1240px avec un fond bleu foncé -->
        		<!-- Animation globale à toutes les pages, une série de petites étoiles grossissants et rétrécissants en arrière plan, pour représenter un ciel étoilé, sans que ce soit non plus trop choquant pour l'oeil  -->

        <div class='star d1'></div>
        <div class='star d2'></div>
        <div class='star d4'></div>
        <div class='star d5'></div>
        <div class='star d6'></div>
        <div class='star d8'></div>
        <div class='star d9'></div>
        <div class='star d10'></div>
        <div class='star d11'></div>
        <div class='star d14'></div>
        <div class='star d16'></div>
        <div class='star d17'></div>
        <div class='star d20'></div>

    <header>    	<!--  Header de la page, il est constitué d'abord d'une image, originellement appelée h4 sur ma maquette, mais que j'ai finalement transformée en une image fixe afin de créer moi même une police un peu plus personnalisée à ce que j'avais en tête, surmontant le logo, avec à droite une navigation qui mène vers les cinq pages du site, les liens devinnent jaune et le fond bleu lorsque l'on passe sa souris dessus.  -->

        <div class='typo'></div>
            <a href="index.html" class='img-logo presentation col'></a>

        <nav class='nav-header col'>
          <ul>
            <li class='first-li'><a routerLink="/home" routerLinkActive="active">Accueil</a></li>
            <li><a routerLink="/presentation" routerLinkActive="active">Présentation</a></li>
            <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
            <li><a class='current' routerLink="/services" routerLinkActive="active">Services</a></li>
            <li class='last-li'><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
          </ul>
        </nav>

    </header>

    <div class='opening'> <!-- En dessous se trouve le titre de la page, écrit en grand en jaune dans un cadre partant d'une transparence vers un blanc/gris -->
    <h1> Services </h1>
    </div>

<div class='clear'></div>

<section>

        <div class='img-sect'> </div> <!-- Image située au dessus de la première section et en dessous -->
        <div class='frame-sect-1'>  <!-- Section 1, un cadre contenant du texte séparé par des retours à la ligne  -->
        <p>

        <br/> <br/>

         Développement   <br/><br/><br/>
         Mise en page <br/><br/><br/>
         Ergonomie   <br/><br/><br/>
         Connectivité    <br/><br/><br/>
         Gestion d'une base de donnée    <br/><br/><br/>
         Réalisation graphique   <br/><br/><br/>
         Sécurité   <br/><br/><br/>
         Référencement   <br/><br/><br/>
         E-commerce

        </p>
        </div>

    <div class=' frame-sect-2 sect-2'> <!-- Deuxième cadre de section situé plus à droite -->
        <div class='img-sect frame-top'></div> <!-- Image située au dessus du deuxième cadre  -->

            <h3>Développement Web </h3><br/> <!-- Titre avec en dessous le texte de la deuxième section -->
        <p>
            Création ou amélioration de votre site internet: Mise en place de pages personnalisées à vos besoins, aptes à fonctionner avec les outils actuels tout en optimisant votre référencement ou en renforçant vos infrastructures.

        </p>
        <div class='img-sect frame-bot'></div>   <!-- Image située en dessous de la deuxième section  -->
    </div>

    <div class='frame-sect-2 sect-3'> <!-- Image située au dessus de la troisième section  -->
        <div class='img-sect frame-top'></div>

            <h3>Développement graphique</h3> <!-- Titre avec en dessous le texte de la troisème section -->
        <p>
            Conseil dans la mise en place d'une charte graphique propre et lisible, en adéquation avec les besoins de votre entreprise. Adaptation et intégration de vos éléments graphiques sur vos pages. Possibilité de travailler de concert avec un web-designer et de l'assister dans la création d'un site.

        </p>
        <div class='img-sect frame-bot'></div>  <!-- Image situé en dessosu de la troisième section  -->
    </div>

        <div class='img-sect clear'> </div>
 </section>

<div class='clear' > </div>
  <app-footer></app-footer>
</div>
