<div class="sundown">
<div class='translate'></div>
<div class='sun'></div>

    <div class="wrapper">

        <div class='appear'>
            <div class='star d1'></div>
            <div class='star d2'></div>
            <div class='star d3'></div>
            <div class='star d6'></div>
            <div class='star d10'></div>
            <div class='star d11'></div>
            <div class='star d16'></div>
        </div>
<div class='typo typo-acc top-acc'></div>   <!-- Image placée au dessus à gauche du logo, placement un peu diffèrent sur l'accueil vu que le logo sera centré -->
<div class='img-sun hide'></div>            <!-- Cinquième animation du menu change le filtre posé sur l'image de logo, afin que celle-ci s'adapte au changement de couleur de fond -->
<div class='img-logo img-acc'></div>        <!-- Image de logo commune à toutes pages, un peu plus grande sur l'accueil et placée au centre de la page, entourée d'un bord blanc -->

    <nav class='nav-acc'> <!-- Naviguation contituée des liens vers les diffèrentes pages du site  séparées par un trait noir, quand on passe sa souris dessus, cela devient bleu et la police devient jaune-->
            <ul>
                <li class='first-acc li-acc'><a routerLink="/home" routerLinkActive="active">Accueil</a></li>
                <li class='li-acc'><a routerLink="/presentation" routerLinkActive="active">Présentation</a></li>
                <li class='li-acc'><a routerLink="/portfolio" routerLinkActive="active" >Portfolio</a></li>
                <li class='li-acc'><a routerLink="/services" routerLinkActive="active" >Services</a></li>
                <li class='li-acc last-acc'><a routerLink="/contact" routerLinkActive="active" >Contact</a></li>
            </ul>
    </nav>


<p class='text-area'> <!-- Texte centré en blanc positionné sous la naviguation -->

"Hello World !" Je m'appelle Thomas Trifiletti, je suis un étudiant Belge dans le développement Web. Ces pages démontrent quelques-unes de mes capacités dans le domaine de la création de sites ainsi que ma volonté d'affiner mon travail et ma technique.
Je possède des compétences en Html, en Css+javascript, en PHP et utilise les plateformes Angular et MySQL. <br/><br/>
Une faible lueur dans un si vaste ciel. Mais une lueur néanmoins.
</p>

    <!-- Un footer devait être placé sur cette page, mais il a été retiré afin de conserver tout le visuel de la page sur une page unie sans avoir à scroll vers le bas, aussi il aurait posé des soucis avec l'animation.  -->

</div>
</div>
